
@{
    ViewBag.DefaultPageHeader = "Programming";
    ViewBag.DefaultPageSubHeader = "Yep";
}


<h2>Introduction to C#</h2>

<p><strong>Microsoft Visual C#</strong> is a programming language primarily used for building and developing a variety of applications using the .NET Framework. It is a multi-paradigm (multi-style) programming language that allows programmers to use the most suitable programming style and language elements for a given job. It's paradigms include:</p>
<ul>
    <li>
        <strong>Object-oriented:</strong> Based on the concept of objects.
        Such objects may contain data, as fields (attributes) and functions (methods).
    </li>
    <li>
        <strong>Functional:</strong> Treating computation as the evaluation of mathematical functions.
    </li>
    <li>
        <strong>Strongly-typed:</strong> Much more likely than a weakly-typed language to produce an
        error or refuse to compile if the argument passed to a function doesn't match the expected type.
    </li>
    <li>
        <strong>Imperative:</strong> Using statements to change the state of a program.
    </li>
    <li>
        <strong>Declarative:</strong> Expressing the computation logic without expressing the order in
        which statements or functions are executed (control flow).
    </li>
    <li>
        <strong>Generic:</strong> The types of algorithms can be declared but
        remain uninstantiated until they are need to be instantiated.
    </li>
</ul>

@*@Html.Partial("_CSharpLinks")*@