<br />
<h3>Learn More</h3>
<hr />
<div class="text-center">
    <div class="btn-group-vertical">
        <div class="btn">@Html.ActionLink("Introduction to ASP.NET MVC", "MVCIntro", "Programming")</div>
        <div class="btn">@Html.ActionLink("Dependency Injection in MVC", "MVCDependencyInjection", "Programming")</div>
        <div class="btn">@Html.ActionLink("Automated testing in MVC", "MVCTesting", "Programming")</div>
    </div>
    <h2>Related:</h2>
    <div class="btn-group-vertical">
        <div class="btn">@Html.ActionLink("Introduction to C#", "CSharpIntro", "Programming")</div>
    </div>
</div>
